<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35428239915-gb1r6mttobevrmddar1ofop26gb6p7ck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35428239915-gb1r6mttobevrmddar1ofop26gb6p7ck</string>
	<key>API_KEY</key>
	<string>AIzaSyAWzLsyeMIt5_Y4noxU6_67LPtTcQkFS6c</string>
	<key>GCM_SENDER_ID</key>
	<string>35428239915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twokingstudio.haynhucnhoi.100</string>
	<key>PROJECT_ID</key>
	<string>haynhucnhoi-fb939</string>
	<key>STORAGE_BUCKET</key>
	<string>haynhucnhoi-fb939.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:35428239915:ios:8d906a8540546e0e</string>
	<key>DATABASE_URL</key>
	<string>https://haynhucnhoi-fb939.firebaseio.com</string>
</dict>
</plist>