<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>397941271325-bq7obt1irp6ms6nji1io0lo45dp0pfnr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.397941271325-bq7obt1irp6ms6nji1io0lo45dp0pfnr</string>
	<key>API_KEY</key>
	<string>AIzaSyDAskPsLCNmGoLZqrix2r8C81f71ny39pU</string>
	<key>GCM_SENDER_ID</key>
	<string>397941271325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twokingstudio.mangafox.100</string>
	<key>PROJECT_ID</key>
	<string>manga-fox-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>manga-fox-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:397941271325:ios:36fe40aea66d93f1</string>
	<key>DATABASE_URL</key>
	<string>https://manga-fox-plus.firebaseio.com</string>
</dict>
</plist>